---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Test"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 09 2024')}
	heroImage="/123.png"
>
<astro>
    <section>
      <h1>html-test</h1>
      <p>This is test.</p>
    </section>
  </astro>
  
  <style>
    h1 {
      color: blueviolet;
    }
  
    p {
      font-size: 16px;
    }
  </style>

</Layout>
